<div class="container">
  <h1>My tasks</h1>
  <%= current_user.email %>
  <%= link_to "New Task", new_task_path %>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete%>
</div>

<div class="container p-3 my-3 border">
  <h2>Doing Tasks</h2>
  <ul>
    <% @tasks.doing.each do |task| %>
      <li>
        <%= task.title %>
        <%= task.body %>
        <%= link_to "Edit", edit_task_path(task) %>
        <%= link_to "Destroy", task_path(task),
                    method: :delete,
                    data: { confirm: "Confirm ?" } %>
      </li>
    <% end %>
  </ul>
</div>

<div class="container p-3 my-3 border">
  <h2>Todo Tasks</h2>
  <ul>
    <% @tasks.todo.each do |task| %>
      <li>
        <%= task.title %>
        <%= task.body %>
        <%= link_to "Edit", edit_task_path(task) %>
        <%= link_to "Destroy", task_path(task),
                    method: :delete,
                    data: { confirm: "Confirm ?" } %>
      </li>
    <% end %>
  </ul>
</div>

<div class="container p-3 my-3 border">
  <h2>Done Tasks</h2>
  <ul>
    <% @tasks.done.each do |task| %>
      <li>
        <%= task.title %>
        <%= task.body %>
        <%= link_to "Edit", edit_task_path(task) %>
        <%= link_to "Destroy", task_path(task),
                    method: :delete,
                    data: { confirm: "Confirm ?" } %>
      </li>
    <% end %>
  </ul>
</div>
